In [4]:
import pandas as pd
import numpy as np
from pycaret.classification import *

In [6]:
df1 = pd.DataFrame()
for chunk in pd.read_csv("../combined_data/combined_df01.csv", chunksize=1000000):
    df1 = pd.concat([df1, chunk], ignore_index=True)
df1

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,...,n_233,n_241,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label
0,100,20190101,MB2,NaN,NaN,100.0,0.0,96.0,20012.0,99.0,...,NaN,99.0,6.916669e+10,99.0,4.377350e+09,0.0,NaN,NaN,NaN,0
1,100034,20190101,MC1,100.0,0.0,100.0,0.0,100.0,10792.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,100035,20190101,MC1,100.0,0.0,100.0,0.0,100.0,10793.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,10005,20190101,MB1,NaN,NaN,100.0,0.0,99.0,4600.0,99.0,...,NaN,99.0,2.189215e+09,99.0,2.041073e+09,0.0,NaN,NaN,NaN,0
4,100055,20190101,MC1,100.0,0.0,100.0,0.0,100.0,6754.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12667762,99951,20190131,MA2,NaN,NaN,100.0,0.0,100.0,32834.0,100.0,...,33.0,100.0,1.454748e+07,100.0,2.289027e+07,NaN,100.0,8.381734e+11,100.0,0
12667763,99957,20190131,MA2,NaN,NaN,100.0,0.0,100.0,32884.0,100.0,...,99.0,100.0,1.466690e+05,100.0,3.139600e+04,NaN,100.0,8.381320e+11,100.0,0
12667764,99962,20190131,MA2,NaN,NaN,100.0,0.0,100.0,32883.0,100.0,...,98.0,100.0,4.959980e+05,100.0,1.298070e+05,NaN,100.0,8.381324e+11,100.0,0
12667765,99980,20190131,MC1,100.0,0.0,100.0,0.0,100.0,3416.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12667766,99982,20190131,MA2,NaN,NaN,100.0,0.0,100.0,37458.0,100.0,...,94.0,100.0,1.486675e+06,100.0,1.269800e+06,NaN,100.0,9.497724e+11,100.0,0

In [7]:
df2 = pd.DataFrame()
for chunk in pd.read_csv("../combined_data/combined_df02.csv", chunksize=1000000):
    df2 = pd.concat([df2, chunk], ignore_index=True)
df2

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,...,n_233,n_241,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label
0,100000,20190201,MC1,100.0,0.0,100.0,0.0,100.0,12983.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,100005,20190201,MC1,100.0,0.0,100.0,0.0,100.0,12984.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,100013,20190201,MA2,NaN,NaN,100.0,0.0,100.0,26369.0,100.0,...,99.0,100.0,4.150470e+05,100.0,3.912204e+06,NaN,100.0,6.748706e+11,100.0,0
3,100037,20190201,MC1,100.0,0.0,100.0,0.0,100.0,6794.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,100064,20190201,MA2,NaN,NaN,100.0,0.0,100.0,29674.0,100.0,...,98.0,100.0,8.540380e+05,100.0,7.692230e+05,NaN,100.0,7.565434e+11,100.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11371379,99914,20190228,MA2,NaN,NaN,100.0,0.0,100.0,35485.0,100.0,...,84.0,100.0,7.516563e+06,100.0,5.069248e+06,NaN,100.0,9.064065e+11,100.0,0
11371380,99957,20190228,MA2,NaN,NaN,100.0,0.0,100.0,33552.0,100.0,...,99.0,100.0,1.475380e+05,100.0,3.148100e+04,NaN,100.0,8.552994e+11,100.0,0
11371381,9997,20190228,MB2,NaN,NaN,100.0,0.0,95.0,21651.0,99.0,...,NaN,99.0,6.742869e+11,99.0,8.367563e+11,0.0,NaN,NaN,NaN,0
11371382,9997,20190228,MB1,NaN,NaN,100.0,0.0,97.0,14755.0,99.0,...,NaN,99.0,7.733992e+11,99.0,4.883440e+11,0.0,NaN,NaN,NaN,0
11371383,99987,20190228,MC1,100.0,0.0,100.0,0.0,100.0,4088.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [8]:
df = pd.concat([df1,df2], ignore_index=True)

In [9]:
# 라벨이 1인 행을 필터링합니다.
filtered_df = df[df['label'] == 1]

# disk_id와 model 열만을 선택하여 새로운 데이터 프레임에 저장합니다.
result_df = filtered_df[['disk_id', 'model']].drop_duplicates().reset_index(drop=True)

# 결과 데이터 프레임을 출력합니다.
print(result_df)

     disk_id model
0      32240   MB1
1      17909   MB1
2      41741   MC1
3      51834   MC1
4       4788   MC2
..       ...   ...
373     3872   MC2
374   108470   MA2
375     1881   MB1
376    17228   MC2
377   111188   MC1

[378 rows x 2 columns]

In [11]:
# result_df에 있는 disk_id와 model 조합을 사용합니다.
selected_disk_model = result_df.values.tolist()

# 결과를 저장할 빈 데이터프레임 생성
final_df = pd.DataFrame()

# 각 disk_id와 model에 대해 원본 데이터프레임에서 행을 필터링합니다.
for disk_id, model in selected_disk_model:
    filtered_rows = df[(df['disk_id'] == disk_id) & (df['model'] == model)]
    final_df = pd.concat([final_df, filtered_rows])

# 모델, disk_id, 그리고 날짜 순으로 정렬합니다.
final_df = final_df.sort_values(by=['model', 'disk_id', 'ds'])

# 최종 결과를 출력합니다.
print(final_df)

          disk_id        ds model    n_1           r_1    n_5  r_5    n_9  \
131950       1156  20190101   MA1  130.0  4.294967e+09   98.0  0.0  100.0
708910       1156  20190102   MA1  130.0  4.294967e+09   98.0  0.0  100.0
1192287      1156  20190103   MA1  130.0  4.294967e+09   98.0  0.0  100.0
1471103      1156  20190104   MA1  130.0  4.294967e+09   98.0  0.0  100.0
1749853      1156  20190105   MA1  130.0  4.294967e+09   98.0  0.0  100.0
...           ...       ...   ...    ...           ...    ...  ...    ...
22179908    20950  20190224   MC2  100.0  0.000000e+00  100.0  0.0  100.0
22714945    20950  20190225   MC2  100.0  0.000000e+00  100.0  0.0  100.0
22947298    20950  20190226   MC2  100.0  0.000000e+00  100.0  0.0  100.0
23275312    20950  20190227   MC2  100.0  0.000000e+00  100.0  0.0  100.0
23935627    20950  20190228   MC2  100.0  0.000000e+00  100.0  0.0  100.0

              r_9   n_12  ...  n_233  n_241  r_241  n_242  r_242  r_244  \
131950    38626.0    NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN
708910    38649.0    NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN
1192287   38673.0    NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN
1471103   38697.0    NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN
1749853   38721.0    NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN
...           ...    ...  ...    ...    ...    ...    ...    ...    ...
22179908  13289.0  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN
22714945  13313.0  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN
22947298  13336.0  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN
23275312  13360.0  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN
23935627  13384.0  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN

          n_175         r_175  n_232  label
131950    100.0  9.793613e+11    NaN      0
708910    100.0  9.794553e+11    NaN      0
1192287   100.0  9.795493e+11    NaN      0
1471103   100.0  9.796433e+11    NaN      0
1749853   100.0  9.797372e+11    NaN      0
...         ...           ...    ...    ...
22179908    NaN           NaN    NaN      0
22714945    NaN           NaN    NaN      0
22947298    NaN           NaN    NaN      0
23275312    NaN           NaN    NaN      1
23935627    NaN           NaN    NaN      0

[15855 rows x 59 columns]

In [13]:
import random

# 시드 값을 설정합니다.
random.seed(42)

# label이 0인 disk_id와 model 조합 추출
label_0_df = df[df['label'] == 0][['disk_id', 'model']].drop_duplicates().reset_index(drop=True)

# 814개를 랜덤하게 선택
selected_disk_model_0 = random.sample(label_0_df.values.tolist(), 814)

In [18]:
from tqdm import tqdm

# 결과를 저장할 빈 데이터프레임 생성
final_df2 = pd.DataFrame()

# 진행 상황을 표시하기 위해 tqdm 사용
for disk_id, model in tqdm(selected_disk_model_0):
    filtered_rows = df[(df['disk_id'] == disk_id) & (df['model'] == model)]
    final_df2 = pd.concat([final_df2, filtered_rows])

# 모델, disk_id, 그리고 날짜 순으로 정렬합니다.
final_df2 = final_df2.sort_values(by=['model', 'disk_id', 'ds'])

100%|██████████| 814/814 [23:13<00:00,  1.71s/it]

In [ ]:
# final_df와 final_df2를 합칩니다.
combined_df = pd.concat([final_df, final_df2])

# model, disk_id, date를 기준으로 그룹화하고 shuffle합니다.
grouped = combined_df.groupby(['model', 'disk_id'])
shuffled_groups = random.sample(list(grouped), len(grouped))
shuffled_df = pd.concat([group for _, group in shuffled_groups])

# 최종 결과를 출력합니다.
print(shuffled_df)

In [19]:
# final_df와 final_df2를 합칩니다.
combined_df = pd.concat([final_df, final_df2])

# model, disk_id, date를 기준으로 그룹화하고 shuffle합니다.
grouped = combined_df.groupby(['model', 'disk_id'])
shuffled_groups = random.sample(list(grouped), len(grouped))

# 진행 상황을 표시하기 위해 tqdm 사용
shuffled_df = pd.DataFrame()
for _, group in tqdm(shuffled_groups):
    shuffled_df = pd.concat([shuffled_df, group])

# 최종 결과를 출력합니다.
print(shuffled_df)

100%|██████████| 1192/1192 [00:07<00:00, 169.35it/s]

          disk_id        ds model    n_1   r_1    n_5   r_5    n_9      r_9  \
312777      65510  20190101   MC1  100.0   0.0  100.0   0.0  100.0   9742.0
517907      65510  20190102   MC1  100.0   0.0  100.0   0.0  100.0   9766.0
1187156     65510  20190103   MC1  100.0   0.0  100.0   0.0  100.0   9790.0
1335877     65510  20190104   MC1  100.0   0.0  100.0   0.0  100.0   9814.0
1669952     65510  20190105   MC1  100.0   0.0  100.0   0.0  100.0   9838.0
...           ...       ...   ...    ...   ...    ...   ...    ...      ...
22121230   139179  20190224   MC1  100.0  29.0  100.0  10.0  100.0  10675.0
22588679   139179  20190225   MC1  100.0  35.0  100.0  10.0  100.0  10699.0
22888513   139179  20190226   MC1  100.0  35.0  100.0  10.0  100.0  10723.0
23489660   139179  20190227   MC1  100.0  35.0  100.0  10.0  100.0  10747.0
24023884   139179  20190228   MC1  100.0  38.0  100.0  10.0  100.0  10771.0

           n_12  ...  n_233  n_241  r_241  n_242  r_242  r_244  n_175  r_175  \
312777    100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
517907    100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1187156   100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1335877   100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1669952   100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...         ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
22121230  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
22588679  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
22888513  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
23489660  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
24023884  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

          n_232  label
312777      NaN      0
517907      NaN      0
1187156     NaN      0
1335877     NaN      0
1669952     NaN      0
...         ...    ...
22121230    NaN      0
22588679    NaN      0
22888513    NaN      0
23489660    NaN      0
24023884    NaN      0

[60725 rows x 59 columns]

In [20]:
shuffled_df.to_csv('../combined_data/combined_subset.csv',index=False)

-----------------------여기까지-------------------------------------

In [22]:
import pandas as pd
import numpy as np
from pycaret.classification import *

# 데이터프레임을 생성하여 PyCaret에 적합한 형태로 만듭니다.
data = shuffled_df.copy()  # shuffled_df를 data로 복사합니다.

# PyCaret 환경 초기화
exp = setup(data=data, target='label', train_size=0.8, session_id=42)

# 모델 비교
best_model = compare_models()

# 예측
predictions = predict_model(best_model)

Initiated  . . . . . . . . . . . . . . . . . .              00:18:17
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

In [23]:
print(best_model)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=42, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [24]:
best_tune = tune_model(best_model)

Initiated  . . . . . . . . . . . . . . . . . .              00:28:49
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [25]:
evaluate_model(best_tune)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [26]:
predict_model(best_tune)

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,...,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label,prediction_label,prediction_score
3122675,107072,20190108,MA2,NaN,NaN,100.0,0.0,100.0,29017.0,100.0,...,4.297495e+06,100.0,1.111662e+07,NaN,100.0,7.347911e+11,100.0,0,0,0.9981
21585805,33400,20190222,MA2,NaN,NaN,100.0,0.0,100.0,40266.0,100.0,...,1.891410e+05,100.0,3.164400e+04,NaN,100.0,1.026932e+12,100.0,0,0,0.9991
1366370,24598,20190104,MA1,130.0,4.294967e+09,98.0,2.0,100.0,36761.0,100.0,...,NaN,NaN,NaN,NaN,100.0,9.283552e+11,NaN,0,0,0.9767
9346371,26142,20190123,MC1,100.0,0.000000e+00,100.0,0.0,100.0,15930.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.9993
7931348,38774,20190120,MB1,NaN,NaN,100.0,0.0,98.0,7378.0,99.0,...,1.682130e+08,99.0,6.557000e+03,0.0,NaN,NaN,NaN,0,0,0.9980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204681,148403,20190209,MC1,100.0,0.000000e+00,100.0,0.0,100.0,14595.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.9990
21066156,131776,20190221,MC1,100.0,0.000000e+00,100.0,0.0,100.0,3914.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.9987
11372146,19514,20190128,MC1,100.0,0.000000e+00,100.0,0.0,100.0,14132.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.9994
11739631,133844,20190129,MC1,100.0,0.000000e+00,100.0,3.0,100.0,14696.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.9992
21579964,15379,20190222,MB1,NaN,NaN,100.0,0.0,97.0,14182.0,99.0,...,7.179481e+11,99.0,4.629020e+11,0.0,NaN,NaN,NaN,0,0,0.9992