In [1]:
import pandas as pd
import numpy as np
from pycaret.classification import *

In [2]:
df1 = pd.DataFrame()
for chunk in pd.read_csv("../ssd_data/combined_data/combined_df01.csv", chunksize=1000000):
    df1 = pd.concat([df1, chunk], ignore_index=True)
df1

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,...,n_233,n_241,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label
0,100,20190101,MB2,NaN,NaN,100.0,0.0,96.0,20012.0,99.0,...,NaN,99.0,6.916669e+10,99.0,4.377350e+09,0.0,NaN,NaN,NaN,0
1,100034,20190101,MC1,100.0,0.0,100.0,0.0,100.0,10792.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,100035,20190101,MC1,100.0,0.0,100.0,0.0,100.0,10793.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,10005,20190101,MB1,NaN,NaN,100.0,0.0,99.0,4600.0,99.0,...,NaN,99.0,2.189215e+09,99.0,2.041073e+09,0.0,NaN,NaN,NaN,0
4,100055,20190101,MC1,100.0,0.0,100.0,0.0,100.0,6754.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12667762,99951,20190131,MA2,NaN,NaN,100.0,0.0,100.0,32834.0,100.0,...,33.0,100.0,1.454748e+07,100.0,2.289027e+07,NaN,100.0,8.381734e+11,100.0,0
12667763,99957,20190131,MA2,NaN,NaN,100.0,0.0,100.0,32884.0,100.0,...,99.0,100.0,1.466690e+05,100.0,3.139600e+04,NaN,100.0,8.381320e+11,100.0,0
12667764,99962,20190131,MA2,NaN,NaN,100.0,0.0,100.0,32883.0,100.0,...,98.0,100.0,4.959980e+05,100.0,1.298070e+05,NaN,100.0,8.381324e+11,100.0,0
12667765,99980,20190131,MC1,100.0,0.0,100.0,0.0,100.0,3416.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12667766,99982,20190131,MA2,NaN,NaN,100.0,0.0,100.0,37458.0,100.0,...,94.0,100.0,1.486675e+06,100.0,1.269800e+06,NaN,100.0,9.497724e+11,100.0,0

In [9]:
model_list = ['MA1','MA2','MB1','MB2','MC1','MC2']
for model in model_list:
    df=df1[df1['model']==model].reset_index().copy()
    df.to_csv(f'../ssd_data/preprocessed_data/df_01_{model}.csv',index=False)

In [ ]:
df2 = pd.DataFrame()
for chunk in pd.read_csv("../ssd_data/combined_data/combined_df02.csv", chunksize=1000000):
    df2 = pd.concat([df2, chunk], ignore_index=True)
df2

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,...,n_233,n_241,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label
0,100000,20190201,MC1,100.0,0.0,100.0,0.0,100.0,12983.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,100005,20190201,MC1,100.0,0.0,100.0,0.0,100.0,12984.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,100013,20190201,MA2,NaN,NaN,100.0,0.0,100.0,26369.0,100.0,...,99.0,100.0,4.150470e+05,100.0,3.912204e+06,NaN,100.0,6.748706e+11,100.0,0
3,100037,20190201,MC1,100.0,0.0,100.0,0.0,100.0,6794.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,100064,20190201,MA2,NaN,NaN,100.0,0.0,100.0,29674.0,100.0,...,98.0,100.0,8.540380e+05,100.0,7.692230e+05,NaN,100.0,7.565434e+11,100.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11371379,99914,20190228,MA2,NaN,NaN,100.0,0.0,100.0,35485.0,100.0,...,84.0,100.0,7.516563e+06,100.0,5.069248e+06,NaN,100.0,9.064065e+11,100.0,0
11371380,99957,20190228,MA2,NaN,NaN,100.0,0.0,100.0,33552.0,100.0,...,99.0,100.0,1.475380e+05,100.0,3.148100e+04,NaN,100.0,8.552994e+11,100.0,0
11371381,9997,20190228,MB2,NaN,NaN,100.0,0.0,95.0,21651.0,99.0,...,NaN,99.0,6.742869e+11,99.0,8.367563e+11,0.0,NaN,NaN,NaN,0
11371382,9997,20190228,MB1,NaN,NaN,100.0,0.0,97.0,14755.0,99.0,...,NaN,99.0,7.733992e+11,99.0,4.883440e+11,0.0,NaN,NaN,NaN,0
11371383,99987,20190228,MC1,100.0,0.0,100.0,0.0,100.0,4088.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
df3 = pd.DataFrame()
for chunk in pd.read_csv("../ssd_data/combined_data/combined_df03.csv", chunksize=1000000):
    df3 = pd.concat([df3, chunk], ignore_index=True)
df3

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,...,n_233,n_241,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label
0,100005,20190301,MA2,NaN,NaN,100.0,0.0,100.0,31192.0,100.0,...,90.0,100.0,3.193536e+06,100.0,4.261100e+04,NaN,100.0,7.991166e+11,100.0,0
1,100024,20190301,MC1,100.0,0.0,100.0,2.0,100.0,14736.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,100031,20190301,MC1,100.0,0.0,100.0,1.0,100.0,12208.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,10005,20190301,MC1,100.0,0.0,100.0,0.0,100.0,4084.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,100057,20190301,MA2,NaN,NaN,100.0,2.0,100.0,40465.0,100.0,...,89.0,100.0,6.274404e+06,100.0,2.788730e+05,NaN,100.0,1.035318e+12,99.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12658443,99979,20190331,MA2,NaN,NaN,100.0,0.0,100.0,38865.0,100.0,...,93.0,100.0,1.490876e+06,100.0,1.272806e+06,NaN,100.0,9.880155e+11,100.0,0
12658444,99980,20190331,MC1,100.0,0.0,100.0,0.0,100.0,4832.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12658445,99988,20190331,MA2,NaN,NaN,100.0,0.0,100.0,38873.0,100.0,...,92.0,100.0,2.541084e+06,100.0,8.354701e+06,NaN,100.0,9.880433e+11,100.0,0
12658446,99989,20190331,MC1,100.0,0.0,100.0,0.0,100.0,4832.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12658447,9999,20190331,MB1,NaN,NaN,100.0,0.0,96.0,15499.0,99.0,...,NaN,99.0,7.907097e+11,99.0,5.204053e+11,0.0,NaN,NaN,NaN,0

In [5]:
model_list = ['MA1','MA2','MB1','MB2','MC1','MC2']
for model in model_list:
    df=df3[df3['model']==model].reset_index().copy()
    df.to_csv(f'../ssd_data/preprocessed_data/df_03_{model}.csv',index=False)

In [ ]:
df4 = pd.DataFrame()
for chunk in pd.read_csv("../ssd_data/combined_data/combined_df04.csv", chunksize=1000000):
    df4 = pd.concat([df4, chunk], ignore_index=True)
df4

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,...,n_233,n_241,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label
0,1,20190501,MB2,NaN,NaN,100.0,0.0,95.0,23860.0,99.0,...,NaN,99.0,7.597243e+11,99.0,5.764659e+11,0.0,NaN,NaN,NaN,0
1,1000,20190501,MA1,130.0,4.294967e+09,96.0,0.0,100.0,42966.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.087125e+12,NaN,0
2,10000,20190501,MB2,NaN,NaN,100.0,0.0,95.0,23139.0,99.0,...,NaN,99.0,6.744943e+11,99.0,8.370488e+11,0.0,NaN,NaN,NaN,0
3,100004,20190501,MA2,NaN,NaN,100.0,0.0,100.0,41437.0,100.0,...,26.0,100.0,2.040125e+07,100.0,7.353270e+05,NaN,100.0,1.048415e+12,100.0,0
4,10001,20190501,MB2,NaN,NaN,100.0,0.0,95.0,23139.0,99.0,...,NaN,99.0,6.743449e+11,99.0,8.376863e+11,0.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118281,27061,20190501,MC1,100.0,0.000000e+00,100.0,0.0,100.0,12110.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
118282,27078,20190501,MB1,NaN,NaN,100.0,0.0,99.0,4585.0,99.0,...,NaN,99.0,3.927929e+11,99.0,3.024982e+11,0.0,NaN,NaN,NaN,0
118283,27081,20190501,MA1,130.0,4.294967e+09,98.0,1.0,100.0,48961.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.245660e+12,NaN,0
118284,27085,20190501,MA2,NaN,NaN,73.0,2040.0,100.0,42165.0,100.0,...,73.0,100.0,8.735559e+06,100.0,1.200774e+06,NaN,100.0,1.078442e+12,79.0,0
118285,27093,20190501,MC1,100.0,0.000000e+00,100.0,0.0,100.0,13679.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [6]:
df5 = pd.DataFrame()
for chunk in pd.read_csv("../ssd_data/combined_data/combined_df05.csv", chunksize=1000000):
    df5 = pd.concat([df5, chunk], ignore_index=True)
df5

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,...,n_233,n_241,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label
0,1,20190501,MB2,NaN,NaN,100.0,0.0,95.0,23860.0,99.0,...,NaN,99.0,7.597243e+11,99.0,5.764659e+11,0.0,NaN,NaN,NaN,0
1,1000,20190501,MA1,130.0,4.294967e+09,96.0,0.0,100.0,42966.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.087125e+12,NaN,0
2,10000,20190501,MB2,NaN,NaN,100.0,0.0,95.0,23139.0,99.0,...,NaN,99.0,6.744943e+11,99.0,8.370488e+11,0.0,NaN,NaN,NaN,0
3,100004,20190501,MA2,NaN,NaN,100.0,0.0,100.0,41437.0,100.0,...,26.0,100.0,2.040125e+07,100.0,7.353270e+05,NaN,100.0,1.048415e+12,100.0,0
4,10001,20190501,MB2,NaN,NaN,100.0,0.0,95.0,23139.0,99.0,...,NaN,99.0,6.743449e+11,99.0,8.376863e+11,0.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12385840,99968,20190531,MC1,100.0,0.000000e+00,100.0,0.0,100.0,16240.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12385841,99970,20190531,MC1,100.0,0.000000e+00,100.0,0.0,100.0,16240.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12385842,99973,20190531,MA2,NaN,NaN,100.0,0.0,100.0,32527.0,100.0,...,84.0,100.0,5.631401e+06,100.0,1.570531e+06,NaN,100.0,8.294312e+11,100.0,0
12385843,99973,20190531,MC1,100.0,0.000000e+00,100.0,0.0,100.0,16240.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12385844,99984,20190531,MA2,NaN,NaN,100.0,0.0,100.0,40329.0,100.0,...,91.0,100.0,2.740545e+06,100.0,8.689895e+06,NaN,100.0,1.022845e+12,100.0,0

In [7]:
model_list = ['MA1','MA2','MB1','MB2','MC1','MC2']
for model in model_list:
    df=df5[df5['model']==model].reset_index().copy()
    df.to_csv(f'../ssd_data/preprocessed_data/df_05_{model}.csv',index=False)

In [ ]:
df6 = pd.DataFrame()
for chunk in pd.read_csv("../ssd_data/combined_data/combined_df06.csv", chunksize=1000000):
    df6 = pd.concat([df6, chunk], ignore_index=True)
df6

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,...,n_233,n_241,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label
0,0,20190601,MA2,NaN,NaN,100.0,2.0,100.0,44448.0,100.0,...,89.0,100.0,4649799.0,100.0,903862.0,NaN,100.0,1.125932e+12,99.0,0
1,100010,20190601,MA2,NaN,NaN,100.0,0.0,100.0,29234.0,100.0,...,100.0,100.0,125253.0,100.0,4270456.0,NaN,100.0,7.479211e+11,100.0,0
2,100012,20190601,MA2,NaN,NaN,100.0,0.0,100.0,29234.0,100.0,...,99.0,100.0,515699.0,100.0,4356134.0,NaN,100.0,7.479213e+11,100.0,0
3,10002,20190601,MA2,NaN,NaN,100.0,0.0,100.0,33647.0,100.0,...,86.0,100.0,4858822.0,100.0,9438950.0,NaN,100.0,8.590215e+11,100.0,0
4,100035,20190601,MA2,NaN,NaN,100.0,0.0,100.0,27130.0,100.0,...,100.0,100.0,65736.0,100.0,3895308.0,NaN,100.0,6.958442e+11,100.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11267731,99953,20190630,MA2,NaN,NaN,100.0,0.0,100.0,36391.0,100.0,...,78.0,100.0,9842190.0,100.0,1107078.0,NaN,100.0,9.321725e+11,100.0,0
11267732,99953,20190630,MC1,100.0,0.0,100.0,1.0,100.0,16936.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11267733,99974,20190630,MC1,100.0,1.0,100.0,1.0,100.0,16960.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11267734,99975,20190630,MC1,100.0,0.0,100.0,0.0,100.0,16960.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11267735,99983,20190630,MA2,NaN,NaN,100.0,0.0,100.0,41046.0,100.0,...,91.0,100.0,2746165.0,100.0,8689696.0,NaN,100.0,1.043835e+12,100.0,0

In [1]:
import os
import pandas as pd
#, 'MA2', 'MB1', 'MB2', 'MC1', 'MC2'
model_list = ['MA1']
output_folder = '../ssd_data/preprocessed_data'

# model_list의 각 모델에 대해 반복
for model in model_list:
    output_filename = f'../ssd_data/combined_by_diskmodel/combined_{model}.csv'
    
    # 빈 데이터프레임 생성
    merged_data = pd.DataFrame()

    # 모델 이름으로 끝나는 .csv 파일 목록 가져오기
    csv_files = [file for file in os.listdir(output_folder) if file.endswith(f'{model}.csv')]

    # .csv 파일들을 순회하며 데이터프레임에 추가
    for file in csv_files:
        file_path = os.path.join(output_folder, file)
        df = pd.read_csv(file_path)
        if 'r_211' in df.columns:
            del(df['r_211'])
        merged_data = pd.concat([merged_data, df],ignore_index=True)

    # 병합된 데이터프레임을 CSV 파일로 저장
    merged_data.to_csv(output_filename, index=False)

In [2]:
import pandas as pd

MA1 = pd.DataFrame()
for chunk in pd.read_csv("../ssd_data/combined_by_diskmodel/combined_MA1.csv", chunksize=1000000):
    MA1 = pd.concat([MA1, chunk], ignore_index=True)
MA1

,index,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,...,n_233,n_241,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label
0,45,10045,20190101,MA1,130.0,4.294967e+09,97.0,0.0,100.0,38288.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,9.752124e+11,NaN,0
1,50,10048,20190101,MA1,130.0,4.294967e+09,96.0,0.0,100.0,38288.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,9.752134e+11,NaN,0
2,69,10066,20190101,MA1,130.0,4.294967e+09,96.0,0.0,100.0,46396.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.185723e+12,NaN,0
3,86,10083,20190101,MA1,130.0,4.294967e+09,98.0,0.0,100.0,39978.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.014085e+12,NaN,0
4,129,10122,20190101,MA1,130.0,4.294967e+09,97.0,0.0,100.0,45592.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.151518e+12,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4744310,11267559,9838,20190630,MA1,130.0,4.294967e+09,97.0,0.0,100.0,43197.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.086756e+12,NaN,0
4744311,11267567,9842,20190630,MA1,130.0,5.896511e+06,98.0,0.0,100.0,42705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.078410e+12,NaN,0
4744312,11267600,9878,20190630,MA1,130.0,4.294967e+09,96.0,0.0,100.0,41465.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.048160e+12,NaN,0
4744313,11267700,9970,20190630,MA1,130.0,4.294967e+09,96.0,0.0,100.0,46623.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.164486e+12,NaN,0
4744314,11267707,9974,20190630,MA1,130.0,4.294967e+09,96.0,0.0,100.0,46623.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.164486e+12,NaN,0

In [6]:
del(MA1['index'])

In [7]:
# null값이 있는 열을 제거하는 코드
def remove_null_columns(df):
    # null인 컬럼을 확인하고, 모든 값이 null인 컬럼을 찾습니다.
    null_columns = df.columns[df.isnull().all()]
    
    # 모든 값이 null인 컬럼을 DataFrame에서 제거합니다.
    df = df.drop(null_columns, axis=1)
    
    return df

In [8]:
# 하나의 unique한 값으로만 이루어진 컬럼을 제거하는 코드
def remove_single_value_columns(df):
    single_value_cols = []
    for col in df.columns:
        unique_values = df[col].nunique()
        if unique_values == 1:
            single_value_cols.append(col)

    df_filtered = df.drop(single_value_cols, axis=1)
    return df_filtered

In [9]:
MA1 = remove_null_columns(MA1)
MA1 = remove_single_value_columns(MA1)

In [13]:
MA1=MA1.fillna(0)

In [18]:
# 라벨이 1인 행을 필터링합니다.
selected_disk_model_1 = MA1[MA1['label'] == 1]

# 모델, disk_id, 그리고 날짜 순으로 정렬합니다.
selected_disk_model_1 = selected_disk_model_1.sort_values(by=['disk_id', 'ds'])

# disk_id와 model 열만을 선택하여 새로운 데이터 프레임에 저장합니다.
selected_disk_model_1 = selected_disk_model_1[['disk_id']].drop_duplicates().reset_index(drop=True)

# 결과 데이터 프레임을 출력합니다.
print(selected_disk_model_1)

     disk_id
0        520
1       1156
2       1224
3       1225
4       1230
..       ...
270    42763
271    42764
272    42767
273    42815
274    42824

[275 rows x 1 columns]

In [17]:
# result_df에 있는 disk_id와 model 조합을 사용합니다.
selected_disk_model = selected_disk_model_1.values.tolist()

# 결과를 저장할 빈 데이터프레임 생성
final_df = pd.DataFrame()

# 각 disk_id와 model에 대해 원본 데이터프레임에서 행을 필터링합니다.
for disk_id in selected_disk_model:
    filtered_rows = MA1[(MA1['disk_id'] == disk_id)]
    final_df = pd.concat([final_df, filtered_rows])

# 모델, disk_id, 그리고 날짜 순으로 정렬합니다.
final_df = final_df.sort_values(by=['disk_id', 'ds'])

# 최종 결과를 출력합니다.
print(final_df)

Empty DataFrame
Columns: [disk_id, ds, r_1, n_5, r_5, r_9, r_12, n_171, r_171, n_172, r_172, n_173, r_174, n_180, r_180, n_184, r_184, r_187, r_188, n_190, r_190, r_194, r_195, n_196, r_196, r_197, r_198, r_199, n_175, r_175, label]
Index: []

[0 rows x 31 columns]

In [ ]:
import random

# 시드 값을 설정합니다.
random.seed(42)

# label이 0인 disk_id와 model 조합 추출
label_0_df = MA1[MA1['label'] == 0][['disk_id', 'model']].drop_duplicates().reset_index(drop=True)

# 814개를 랜덤하게 선택
selected_disk_model_0 = random.sample(label_0_df.values.tolist(), 814)

In [ ]:
from tqdm import tqdm

# 결과를 저장할 빈 데이터프레임 생성
final_df2 = pd.DataFrame()

# 진행 상황을 표시하기 위해 tqdm 사용
for disk_id, model in tqdm(selected_disk_model_0):
    filtered_rows = MA1[(MA1['disk_id'] == disk_id) & (MA1['model'] == model)]
    final_df2 = pd.concat([final_df2, filtered_rows])

# 모델, disk_id, 그리고 날짜 순으로 정렬합니다.
final_df2 = final_df2.sort_values(by=['model', 'disk_id', 'ds'])

100%|██████████| 814/814 [23:13<00:00,  1.71s/it]

In [ ]:
# final_df와 final_df2를 합칩니다.
combined_df = pd.concat([final_df, final_df2])

# model, disk_id, date를 기준으로 그룹화하고 shuffle합니다.
grouped = combined_df.groupby(['model', 'disk_id'])
shuffled_groups = random.sample(list(grouped), len(grouped))

# 진행 상황을 표시하기 위해 tqdm 사용
shuffled_df = pd.DataFrame()
for _, group in tqdm(shuffled_groups):
    shuffled_df = pd.concat([shuffled_df, group])

# 최종 결과를 출력합니다.
print(shuffled_df)

100%|██████████| 1192/1192 [00:07<00:00, 169.35it/s]

          disk_id        ds model    n_1   r_1    n_5   r_5    n_9      r_9  \
312777      65510  20190101   MC1  100.0   0.0  100.0   0.0  100.0   9742.0
517907      65510  20190102   MC1  100.0   0.0  100.0   0.0  100.0   9766.0
1187156     65510  20190103   MC1  100.0   0.0  100.0   0.0  100.0   9790.0
1335877     65510  20190104   MC1  100.0   0.0  100.0   0.0  100.0   9814.0
1669952     65510  20190105   MC1  100.0   0.0  100.0   0.0  100.0   9838.0
...           ...       ...   ...    ...   ...    ...   ...    ...      ...
22121230   139179  20190224   MC1  100.0  29.0  100.0  10.0  100.0  10675.0
22588679   139179  20190225   MC1  100.0  35.0  100.0  10.0  100.0  10699.0
22888513   139179  20190226   MC1  100.0  35.0  100.0  10.0  100.0  10723.0
23489660   139179  20190227   MC1  100.0  35.0  100.0  10.0  100.0  10747.0
24023884   139179  20190228   MC1  100.0  38.0  100.0  10.0  100.0  10771.0

           n_12  ...  n_233  n_241  r_241  n_242  r_242  r_244  n_175  r_175  \
312777    100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
517907    100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1187156   100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1335877   100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1669952   100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...         ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
22121230  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
22588679  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
22888513  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
23489660  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
24023884  100.0  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

          n_232  label
312777      NaN      0
517907      NaN      0
1187156     NaN      0
1335877     NaN      0
1669952     NaN      0
...         ...    ...
22121230    NaN      0
22588679    NaN      0
22888513    NaN      0
23489660    NaN      0
24023884    NaN      0

[60725 rows x 59 columns]

In [ ]:
shuffled_df.to_csv('../ssd_data/final_data/final_data_MA1.csv',index=False)

-----------------------여기까지-------------------------------------

### pycaret

In [ ]:
import pandas as pd
import numpy as np
from pycaret.classification import *

# 데이터프레임을 생성하여 PyCaret에 적합한 형태로 만듭니다.
data = shuffled_df.copy()  # shuffled_df를 data로 복사합니다.

# PyCaret 환경 초기화
exp = setup(data=data, target='label', train_size=0.8, session_id=42)

# 모델 비교
best_model = compare_models()

# 예측
predictions = predict_model(best_model)

Initiated  . . . . . . . . . . . . . . . . . .              00:18:17
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

In [ ]:
print(best_model)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=42, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
best_tune = tune_model(best_model)

Initiated  . . . . . . . . . . . . . . . . . .              00:28:49
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [ ]:
evaluate_model(best_tune)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [ ]:
predict_model(best_tune)

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,...,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label,prediction_label,prediction_score
3122675,107072,20190108,MA2,NaN,NaN,100.0,0.0,100.0,29017.0,100.0,...,4.297495e+06,100.0,1.111662e+07,NaN,100.0,7.347911e+11,100.0,0,0,0.9981
21585805,33400,20190222,MA2,NaN,NaN,100.0,0.0,100.0,40266.0,100.0,...,1.891410e+05,100.0,3.164400e+04,NaN,100.0,1.026932e+12,100.0,0,0,0.9991
1366370,24598,20190104,MA1,130.0,4.294967e+09,98.0,2.0,100.0,36761.0,100.0,...,NaN,NaN,NaN,NaN,100.0,9.283552e+11,NaN,0,0,0.9767
9346371,26142,20190123,MC1,100.0,0.000000e+00,100.0,0.0,100.0,15930.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.9993
7931348,38774,20190120,MB1,NaN,NaN,100.0,0.0,98.0,7378.0,99.0,...,1.682130e+08,99.0,6.557000e+03,0.0,NaN,NaN,NaN,0,0,0.9980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16204681,148403,20190209,MC1,100.0,0.000000e+00,100.0,0.0,100.0,14595.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.9990
21066156,131776,20190221,MC1,100.0,0.000000e+00,100.0,0.0,100.0,3914.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.9987
11372146,19514,20190128,MC1,100.0,0.000000e+00,100.0,0.0,100.0,14132.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.9994
11739631,133844,20190129,MC1,100.0,0.000000e+00,100.0,3.0,100.0,14696.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.9992
21579964,15379,20190222,MB1,NaN,NaN,100.0,0.0,97.0,14182.0,99.0,...,7.179481e+11,99.0,4.629020e+11,0.0,NaN,NaN,NaN,0,0,0.9992

### 5 window 전처리

In [ ]:
shuffled_df=shuffled_df.reset_index()

In [ ]:
del(shuffled_df['index'])

In [ ]:
shuffled_df

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,...,n_233,n_241,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label
0,65510,20190101,MC1,100.0,0.0,100.0,0.0,100.0,9742.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,65510,20190102,MC1,100.0,0.0,100.0,0.0,100.0,9766.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,65510,20190103,MC1,100.0,0.0,100.0,0.0,100.0,9790.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,65510,20190104,MC1,100.0,0.0,100.0,0.0,100.0,9814.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,65510,20190105,MC1,100.0,0.0,100.0,0.0,100.0,9838.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60720,139179,20190224,MC1,100.0,29.0,100.0,10.0,100.0,10675.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
60721,139179,20190225,MC1,100.0,35.0,100.0,10.0,100.0,10699.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
60722,139179,20190226,MC1,100.0,35.0,100.0,10.0,100.0,10723.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
60723,139179,20190227,MC1,100.0,35.0,100.0,10.0,100.0,10747.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
60724,139179,20190228,MC1,100.0,38.0,100.0,10.0,100.0,10771.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
import pandas as pd
import numpy as np
from tqdm import tqdm

# 데이터 프레임 예시 (shuffled_df 라는 데이터 프레임이 있다고 가정)
# shuffled_df = pd.DataFrame(...)

# model과 disk_id별로 unique한 그룹을 찾습니다.
grouped = shuffled_df.groupby(['model', 'disk_id'])

# lag window size
window_size = 5

# 결과를 저장할 빈 데이터프레임을 만듭니다.
result = pd.DataFrame()

# tqdm을 사용하여 진행 상태를 표시합니다.
for name, group in tqdm(grouped, desc="Processing groups"):
    # 변수들에 대한 lag feature를 생성합니다. (4번째부터 마지막에서 두 번째 열까지)
    features = group.iloc[:, 3:-1].values
    labels = group.iloc[:, -1].values
    dates = group.iloc[:, 1].values
    lag_features = []
    lag_labels = []
    lag_dates = []
    
    # window를 이동시키며 lag feature를 만듭니다.
    for i in range(len(features) - window_size + 1):
        window = features[i:i + window_size].flatten()
        lag_features.append(window)
        lag_labels.append(labels[i + window_size - 1])
        lag_dates.append(dates[i + window_size - 1])
    
    # 데이터프레임 형태로 변환합니다.
    num_features = len(group.columns) - 4
    columns = [f'var_{j}_lag_{i}' for j in range(1, num_features+1) for i in range(1, window_size+1)]
    lag_df = pd.DataFrame(lag_features, columns=columns)
    
    # 기존 정보를 포함시킵니다.
    lag_df['model'] = name[0]
    lag_df['disk_id'] = name[1]
    lag_df['date'] = lag_dates  # 날짜를 추가합니다.
    
    # Label을 추가합니다.
    lag_df['label'] = lag_labels
    
    # 결과 데이터프레임에 추가합니다.
    result = pd.concat([result, lag_df])

# 결과를 출력합니다.
print(result)

Processing groups: 100%|██████████| 1192/1192 [00:26<00:00, 45.37it/s]

    var_1_lag_1   var_1_lag_2  var_1_lag_3  var_1_lag_4  var_1_lag_5  \
0         130.0  4.294967e+09         93.0          2.0        100.0
1         130.0  4.294967e+09         93.0          2.0        100.0
2         130.0  4.294967e+09         93.0          2.0        100.0
3         130.0  4.294967e+09         93.0          2.0        100.0
4         130.0  4.294967e+09         93.0          2.0        100.0
..          ...           ...          ...          ...          ...
50        100.0  0.000000e+00        100.0          0.0        100.0
51        100.0  0.000000e+00        100.0          0.0        100.0
52        100.0  0.000000e+00        100.0          0.0        100.0
53        100.0  0.000000e+00        100.0          0.0        100.0
54        100.0  0.000000e+00        100.0          0.0        100.0

    var_2_lag_1  var_2_lag_2  var_2_lag_3  var_2_lag_4  var_2_lag_5  ...  \
0       46576.0        100.0         32.0          NaN          NaN  ...
1       46600.0        100.0         32.0          NaN          NaN  ...
2       46624.0        100.0         32.0          NaN          NaN  ...
3       46648.0        100.0         32.0          NaN          NaN  ...
4       46672.0        100.0         32.0          NaN          NaN  ...
..          ...          ...          ...          ...          ...  ...
50       7420.0        100.0         27.0        100.0          0.0  ...
51       7444.0        100.0         27.0        100.0          0.0  ...
52       7468.0        100.0         27.0        100.0          0.0  ...
53       7492.0        100.0         27.0        100.0          0.0  ...
54       7516.0        100.0         27.0        100.0          0.0  ...

    var_54_lag_4  var_54_lag_5  var_55_lag_1  var_55_lag_2  var_55_lag_3  \
0            NaN           NaN           NaN           NaN         100.0
1            NaN           NaN           NaN           NaN         100.0
2            NaN           NaN           NaN           NaN         100.0
3            NaN           NaN           NaN           NaN         100.0
4            NaN           NaN           NaN           NaN         100.0
..           ...           ...           ...           ...           ...
50           NaN           NaN           NaN           NaN           NaN
51           NaN           NaN           NaN           NaN           NaN
52           NaN           NaN           NaN           NaN           NaN
53           NaN           NaN           NaN           NaN           NaN
54           NaN           NaN           NaN           NaN           NaN

    var_55_lag_4  var_55_lag_5  model  disk_id  label
0   1.185497e+12           NaN    MA1      113    0.0
1   1.185591e+12           NaN    MA1      113    0.0
2   1.185685e+12           NaN    MA1      113    0.0
3   1.185779e+12           NaN    MA1      113    0.0
4   1.185872e+12           NaN    MA1      113    0.0
..           ...           ...    ...      ...    ...
50           NaN           NaN    MC2    23261    0.0
51           NaN           NaN    MC2    23261    0.0
52           NaN           NaN    MC2    23261    0.0
53           NaN           NaN    MC2    23261    0.0
54           NaN           NaN    MC2    23261    0.0

[55973 rows x 278 columns]

### 30일 이전을 label = 1 로

In [ ]:
import pandas as pd
import numpy as np
from tqdm import tqdm

# result 데이터프레임 예시
# 'model', 'disk_id', 'date', 'features...', 'label'

# model, disk_id 조합을 가져옴
unique_combinations = result[['model', 'disk_id']].drop_duplicates().values.tolist()

# 결과를 저장할 빈 데이터프레임 생성
processed_data = pd.DataFrame()

# tqdm을 사용하여 진행 상황 표시
for model, disk_id in tqdm(unique_combinations):
    # 특정 model, disk_id에 대한 데이터 추출
    subset = result[(result['model'] == model) & (result['disk_id'] == disk_id)].copy()
    
    # label이 1인 인덱스 찾기
    label_one_indices = subset.index[subset['label'] == 1].tolist()
    
    # label이 1인 날짜 이전 30일을 찾아서 label을 1로 설정
    for index in label_one_indices:
        # 이전 30일의 인덱스를 찾음 (최소 인덱스를 고려)
        start_index = max(index - 30, subset.index.min())
        subset.loc[start_index:index, 'label'] = 1
    
    # 결과 데이터에 추가
    processed_data = pd.concat([processed_data, subset])

# 최종 전처리된 데이터
print(processed_data)

100%|██████████| 1176/1176 [00:24<00:00, 47.71it/s]

    var_1_lag_1   var_1_lag_2  var_1_lag_3  var_1_lag_4  var_1_lag_5  \
0         130.0  4.294967e+09         93.0          2.0        100.0
1         130.0  4.294967e+09         93.0          2.0        100.0
2         130.0  4.294967e+09         93.0          2.0        100.0
3         130.0  4.294967e+09         93.0          2.0        100.0
4         130.0  4.294967e+09         93.0          2.0        100.0
..          ...           ...          ...          ...          ...
50        100.0  0.000000e+00        100.0          0.0        100.0
51        100.0  0.000000e+00        100.0          0.0        100.0
52        100.0  0.000000e+00        100.0          0.0        100.0
53        100.0  0.000000e+00        100.0          0.0        100.0
54        100.0  0.000000e+00        100.0          0.0        100.0

    var_2_lag_1  var_2_lag_2  var_2_lag_3  var_2_lag_4  var_2_lag_5  ...  \
0       46576.0        100.0         32.0          NaN          NaN  ...
1       46600.0        100.0         32.0          NaN          NaN  ...
2       46624.0        100.0         32.0          NaN          NaN  ...
3       46648.0        100.0         32.0          NaN          NaN  ...
4       46672.0        100.0         32.0          NaN          NaN  ...
..          ...          ...          ...          ...          ...  ...
50       7420.0        100.0         27.0        100.0          0.0  ...
51       7444.0        100.0         27.0        100.0          0.0  ...
52       7468.0        100.0         27.0        100.0          0.0  ...
53       7492.0        100.0         27.0        100.0          0.0  ...
54       7516.0        100.0         27.0        100.0          0.0  ...

    var_54_lag_4  var_54_lag_5  var_55_lag_1  var_55_lag_2  var_55_lag_3  \
0            NaN           NaN           NaN           NaN         100.0
1            NaN           NaN           NaN           NaN         100.0
2            NaN           NaN           NaN           NaN         100.0
3            NaN           NaN           NaN           NaN         100.0
4            NaN           NaN           NaN           NaN         100.0
..           ...           ...           ...           ...           ...
50           NaN           NaN           NaN           NaN           NaN
51           NaN           NaN           NaN           NaN           NaN
52           NaN           NaN           NaN           NaN           NaN
53           NaN           NaN           NaN           NaN           NaN
54           NaN           NaN           NaN           NaN           NaN

    var_55_lag_4  var_55_lag_5  model  disk_id  label
0   1.185497e+12           NaN    MA1      113    0.0
1   1.185591e+12           NaN    MA1      113    0.0
2   1.185685e+12           NaN    MA1      113    0.0
3   1.185779e+12           NaN    MA1      113    0.0
4   1.185872e+12           NaN    MA1      113    0.0
..           ...           ...    ...      ...    ...
50           NaN           NaN    MC2    23261    0.0
51           NaN           NaN    MC2    23261    0.0
52           NaN           NaN    MC2    23261    0.0
53           NaN           NaN    MC2    23261    0.0
54           NaN           NaN    MC2    23261    0.0

[55973 rows x 278 columns]

In [ ]:
#전처리 완료된 데이터(1~2월)
processed_data.to_csv('../ssd_data/preprocessed_data/preprocessed_data.csv')

### 간단한 RandomForest 코드

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from tqdm import tqdm

# 이전에 만든 lag feature 데이터프레임 예시: processed_data
# 'model', 'disk_id', 'features...', 'label' 컬럼들을 포함

# 각 model, disk_id별로 분리하여 모델 학습 및 예측
unique_combinations = processed_data[['model', 'disk_id']].drop_duplicates().values.tolist()

# 각 조합별 정확도를 저장할 리스트
accuracies = []

# tqdm을 사용하여 진행 상황 표시
for model, disk_id in tqdm(unique_combinations):
    # 특정 model, disk_id에 대한 데이터 추출
    subset = processed_data[(processed_data['model'] == model) & (processed_data['disk_id'] == disk_id)]
    
    # NaN 값을 0으로 대체
    subset = subset.fillna(0)
    
    # 시간 순서를 유지한 상태로 train-test 분할 (예: 앞 80%는 train, 뒤 20%는 test)
    train_size = int(len(subset) * 0.8)
    train_data = subset[:train_size]
    test_data = subset[train_size:]
    
    # 만약 train_data 또는 test_data가 비어있다면, 해당 조합을 건너뜀
    if train_data.empty or test_data.empty:
        continue
    
    # Feature와 label 분리
    X_train = train_data.drop(['model', 'disk_id', 'label'], axis=1)
    y_train = train_data['label']
    X_test = test_data.drop(['model', 'disk_id', 'label'], axis=1)
    y_test = test_data['label']
    
    # RandomForest 모델 학습
    rf = RandomForestClassifier(random_state=42)
    rf.fit(X_train, y_train)
    
    # 예측
    y_pred = rf.predict(X_test)
    
    # 정확도 측정 및 저장
    acc = accuracy_score(y_test, y_pred)
    accuracies.append(acc)

# 전체 평균 정확도
mean_accuracy = sum(accuracies) / len(accuracies) if accuracies else 0
print(f"Mean Accuracy: {mean_accuracy}")

100%|██████████| 1176/1176 [02:24<00:00,  8.11it/s]

Mean Accuracy: 0.9571921341070275

In [ ]:
# 전체 평균 정확도
mean_accuracy = sum(accuracies) / len(accuracies) if accuracies else 0
print(f"Mean Accuracy: {mean_accuracy}")

Mean Accuracy: 0.9571921341070275

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, roc_auc_score
from tqdm import tqdm

# 이전에 만든 lag feature 데이터프레임 예시: processed_data
# 'model', 'disk_id', 'features...', 'label' 컬럼들을 포함

# 각 model, disk_id별로 분리하여 모델 학습 및 예측
unique_combinations = processed_data[['model', 'disk_id']].drop_duplicates().values.tolist()

# 각 조합별 평가 지표를 저장할 리스트
accuracies = []
f1_scores = []
precisions = []
recalls = []
aucs = []

# tqdm을 사용하여 진행 상황 표시
for model, disk_id in tqdm(unique_combinations):
    # 특정 model, disk_id에 대한 데이터 추출
    subset = processed_data[(processed_data['model'] == model) & (processed_data['disk_id'] == disk_id)]
    
    # NaN 값을 0으로 대체
    subset = subset.fillna(0)
    
    # 시간 순서를 유지한 상태로 train-test 분할 (예: 앞 80%는 train, 뒤 20%는 test)
    train_size = int(len(subset) * 0.8)
    train_data = subset[:train_size]
    test_data = subset[train_size:]
    
    # 만약 train_data 또는 test_data가 비어있다면, 해당 조합을 건너뜀
    if train_data.empty or test_data.empty:
        continue
    
    # Feature와 label 분리
    X_train = train_data.drop(['model', 'disk_id', 'label'], axis=1)
    y_train = train_data['label']
    X_test = test_data.drop(['model', 'disk_id', 'label'], axis=1)
    y_test = test_data['label']
    
    # RandomForest 모델 학습
    rf = RandomForestClassifier(random_state=42)
    rf.fit(X_train, y_train)
    
    # 예측
    y_pred = rf.predict(X_test)
    
    # 평가 지표 계산 및 저장
    accuracies.append(accuracy_score(y_test, y_pred))
    f1_scores.append(f1_score(y_test, y_pred, zero_division=0))
    precisions.append(precision_score(y_test, y_pred, zero_division=0))
    recalls.append(recall_score(y_test, y_pred, zero_division=0))
    
    # AUC를 계산하기 전에 테스트 데이터셋에 두 개 이상의 클래스(라벨)가 있는지 확인
    if len(set(y_test)) > 1 and hasattr(rf, "predict_proba"):
        y_pred_proba = rf.predict_proba(X_test)
        if y_pred_proba.shape[1] > 1:
            aucs.append(roc_auc_score(y_test, y_pred_proba[:, 1]))
        else:
            aucs.append(float('nan'))  # AUC를 계산할 수 없는 경우 NaN을 추가
    else:
        aucs.append(float('nan'))  # AUC를 계산할 수 없는 경우 NaN을 추가

100%|██████████| 1176/1176 [06:42<00:00,  2.92it/s]

Mean Accuracy: 0.9571921341070275
Mean F1 Score: 0.06952972269809103
Mean Precision: 0.06102192134107027
Mean Recall: 0.09361702127659574
Mean AUC: nan

In [ ]:
# 전체 평균 평가 지표
mean_accuracy = sum(accuracies) / len(accuracies) if accuracies else 0
mean_f1_score = sum(f1_scores) / len(f1_scores) if f1_scores else 0
mean_precision = sum(precisions) / len(precisions) if precisions else 0
mean_recall = sum(recalls) / len(recalls) if recalls else 0
mean_auc = sum(aucs) / len(aucs) if aucs else 0

# 결과 출력
print(f"Mean Accuracy: {mean_accuracy}")
print(f"Mean F1 Score: {mean_f1_score}")
print(f"Mean Precision: {mean_precision}")
print(f"Mean Recall: {mean_recall}")
print(f"Mean AUC: {mean_auc}")

Mean Accuracy: 0.9571921341070275
Mean F1 Score: 0.06952972269809103
Mean Precision: 0.06102192134107027
Mean Recall: 0.09361702127659574
Mean AUC: nan