In [1]:
import pandas as pd

MA1 = pd.DataFrame()
for chunk in pd.read_csv("../ssd_data/combined_by_diskmodel/combined_MA1.csv", chunksize=1000000):
    MA1 = pd.concat([MA1, chunk], ignore_index=True)
MA1

,index,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,...,n_233,n_241,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label
0,45,10045,20190101,MA1,130.0,4.294967e+09,97.0,0.0,100.0,38288.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,9.752124e+11,NaN,0
1,50,10048,20190101,MA1,130.0,4.294967e+09,96.0,0.0,100.0,38288.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,9.752134e+11,NaN,0
2,69,10066,20190101,MA1,130.0,4.294967e+09,96.0,0.0,100.0,46396.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.185723e+12,NaN,0
3,86,10083,20190101,MA1,130.0,4.294967e+09,98.0,0.0,100.0,39978.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.014085e+12,NaN,0
4,129,10122,20190101,MA1,130.0,4.294967e+09,97.0,0.0,100.0,45592.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.151518e+12,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4744310,11267559,9838,20190630,MA1,130.0,4.294967e+09,97.0,0.0,100.0,43197.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.086756e+12,NaN,0
4744311,11267567,9842,20190630,MA1,130.0,5.896511e+06,98.0,0.0,100.0,42705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.078410e+12,NaN,0
4744312,11267600,9878,20190630,MA1,130.0,4.294967e+09,96.0,0.0,100.0,41465.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.048160e+12,NaN,0
4744313,11267700,9970,20190630,MA1,130.0,4.294967e+09,96.0,0.0,100.0,46623.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.164486e+12,NaN,0
4744314,11267707,9974,20190630,MA1,130.0,4.294967e+09,96.0,0.0,100.0,46623.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.164486e+12,NaN,0

In [2]:
del(MA1['index'])

In [3]:
# null값이 있는 열을 제거하는 코드
def remove_null_columns(df):
    # null인 컬럼을 확인하고, 모든 값이 null인 컬럼을 찾습니다.
    null_columns = df.columns[df.isnull().all()]
    
    # 모든 값이 null인 컬럼을 DataFrame에서 제거합니다.
    df = df.drop(null_columns, axis=1)
    
    return df

In [4]:
# 하나의 unique한 값으로만 이루어진 컬럼을 제거하는 코드
def remove_single_value_columns(df):
    single_value_cols = []
    for col in df.columns:
        unique_values = df[col].nunique()
        if unique_values == 1:
            single_value_cols.append(col)

    df_filtered = df.drop(single_value_cols, axis=1)
    return df_filtered

In [5]:
#MA1을 기준으로 다시 컬럼이 NULL값이 있는 열과 단일 변수로 이루어진 열을 제거한다.

MA1 = remove_null_columns(MA1)
MA1 = remove_single_value_columns(MA1)

In [6]:
#null값은 0으로 채운다.
MA1=MA1.fillna(0)

In [7]:
MA1[MA1['label'] == 1]

,disk_id,ds,r_1,n_5,r_5,r_9,r_12,n_171,r_171,n_172,...,r_194,r_195,n_196,r_196,r_197,r_198,r_199,n_175,r_175,label
55019,3401,20190102,4.294967e+09,98.0,0.0,40012.0,59.0,100.0,0.0,100.0,...,16.0,2.260676e+09,100.0,0.0,0.0,0.0,0.0,100.0,1.005077e+12,1
55936,23729,20190102,4.294967e+09,98.0,2.0,40175.0,28.0,100.0,4.0,100.0,...,20.0,1.067805e+09,99.0,2.0,0.0,0.0,0.0,100.0,1.018337e+12,1
70405,41793,20190103,4.294967e+09,98.0,0.0,36522.0,28.0,100.0,0.0,100.0,...,14.0,2.791970e+08,100.0,0.0,0.0,0.0,0.0,100.0,9.280304e+11,1
75070,30146,20190103,4.294967e+09,98.0,0.0,36922.0,30.0,100.0,0.0,100.0,...,18.0,1.591232e+09,100.0,0.0,0.0,0.0,0.0,100.0,9.407059e+11,1
106266,37927,20190104,4.294967e+09,94.0,141.0,37481.0,30.0,99.0,70.0,100.0,...,8.0,2.748596e+09,97.0,141.0,0.0,0.0,0.0,100.0,9.497040e+11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4132300,33445,20190603,4.294967e+09,96.0,0.0,44625.0,36.0,100.0,0.0,100.0,...,15.0,1.270160e+06,100.0,0.0,0.0,0.0,0.0,1.0,1.134050e+12,1
4175174,1230,20190605,4.294967e+09,98.0,0.0,44244.0,27.0,100.0,0.0,100.0,...,19.0,2.581993e+09,100.0,0.0,0.0,0.0,0.0,100.0,1.125316e+12,1
4178901,34874,20190605,4.294967e+09,98.0,0.0,40585.0,28.0,100.0,0.0,100.0,...,15.0,1.579518e+09,100.0,0.0,0.0,0.0,0.0,100.0,1.035432e+12,1
4182969,31327,20190606,4.294967e+09,98.0,0.0,42078.0,44.0,100.0,0.0,100.0,...,17.0,3.873290e+09,100.0,0.0,0.0,0.0,0.0,100.0,1.057160e+12,1
4195779,38773,20190606,4.294967e+09,98.0,2.0,44298.0,37.0,100.0,2.0,100.0,...,16.0,1.970826e+09,99.0,2.0,0.0,0.0,0.0,100.0,1.121018e+12,1

In [8]:
# ds 컬럼에 따라 정렬
MA1 = MA1.sort_values(['disk_id', 'ds'])
# 결과 출력
MA1

,disk_id,ds,r_1,n_5,r_5,r_9,r_12,n_171,r_171,n_172,...,r_194,r_195,n_196,r_196,r_197,r_198,r_199,n_175,r_175,label
717975,12,20190126,1.745309e+09,98.0,0.0,39291.0,60.0,100.0,0.0,100.0,...,12.0,428404580.0,100.0,0.0,0.0,0.0,0.0,100.0,9.835897e+11,0
741568,12,20190127,3.620582e+09,98.0,0.0,39315.0,60.0,100.0,0.0,100.0,...,11.0,428404582.0,100.0,0.0,0.0,0.0,0.0,100.0,9.836836e+11,0
755075,12,20190128,4.294967e+09,98.0,0.0,39339.0,60.0,100.0,0.0,100.0,...,11.0,428404583.0,100.0,0.0,0.0,0.0,0.0,100.0,9.837775e+11,0
793248,12,20190129,4.294967e+09,98.0,0.0,39362.0,60.0,100.0,0.0,100.0,...,12.0,428404584.0,100.0,0.0,0.0,0.0,0.0,100.0,9.838715e+11,0
830717,12,20190130,4.294967e+09,98.0,0.0,39386.0,60.0,100.0,0.0,100.0,...,11.0,428404586.0,100.0,0.0,0.0,0.0,0.0,100.0,9.839654e+11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4628684,43297,20190626,2.706945e+09,93.0,0.0,50774.0,32.0,100.0,0.0,100.0,...,17.0,517500.0,100.0,0.0,0.0,0.0,0.0,100.0,1.279911e+12,0
4665712,43297,20190627,2.731255e+09,93.0,0.0,50796.0,32.0,100.0,0.0,100.0,...,17.0,517500.0,100.0,0.0,0.0,0.0,0.0,100.0,1.279996e+12,0
4685287,43297,20190628,2.756229e+09,93.0,0.0,50820.0,32.0,100.0,0.0,100.0,...,17.0,517500.0,100.0,0.0,0.0,0.0,0.0,100.0,1.280090e+12,0
4703761,43297,20190629,2.781762e+09,93.0,0.0,50844.0,32.0,100.0,0.0,100.0,...,17.0,517500.0,100.0,0.0,0.0,0.0,0.0,100.0,1.280184e+12,0
4723392,43297,20190630,2.807087e+09,93.0,0.0,50867.0,32.0,100.0,0.0,100.0,...,17.0,517500.0,100.0,0.0,0.0,0.0,0.0,100.0,1.280278e+12,0

디스크가 fail된 아이디를 가져와서 그 fail된 디스크아이디를 가진 모든 행을 따로 만들어서 전처리를 구현한다.

In [9]:
# 라벨이 1인 행을 필터링합니다.
selected_disk_model_1 = MA1[MA1['label'] == 1]

# 모델, disk_id, 그리고 날짜 순으로 정렬합니다.
selected_disk_model_1 = selected_disk_model_1.sort_values(by=['disk_id', 'ds'])

# disk_id와 model 열만을 선택하여 새로운 데이터 프레임에 저장합니다.
selected_disk_model_1 = selected_disk_model_1[['disk_id']].drop_duplicates().reset_index(drop=True)

# 결과 데이터 프레임을 출력합니다.
selected_disk_model_1

     disk_id
0        520
1       1156
2       1224
3       1225
4       1230
..       ...
270    42763
271    42764
272    42767
273    42815
274    42824

[275 rows x 1 columns]

In [10]:
# fail된 디스크 아이디의 정보 싹다 가져오기
extracted_disk_failure_model_all = pd.merge(selected_disk_model_1, MA1, on='disk_id', how='inner')

In [11]:
# ds 열을 날짜 형식으로 변환
extracted_disk_failure_model_all['ds'] = pd.to_datetime(extracted_disk_failure_model_all['ds'], format='%Y%m%d')

In [12]:
extracted_disk_failure_model_all.sort_values(['disk_id', 'ds'], inplace=True)

In [13]:
extracted_disk_failure_model_all

,disk_id,ds,r_1,n_5,r_5,r_9,r_12,n_171,r_171,n_172,...,r_194,r_195,n_196,r_196,r_197,r_198,r_199,n_175,r_175,label
0,520,2019-01-30,9.376596e+08,96.0,0.0,38191.0,27.0,100.0,0.0,100.0,...,16.0,33733630.0,100.0,0.0,0.0,0.0,0.0,100.0,9.793172e+11,0
1,520,2019-01-31,1.624577e+09,96.0,0.0,38215.0,27.0,100.0,0.0,100.0,...,17.0,33733726.0,100.0,0.0,0.0,0.0,0.0,100.0,9.794111e+11,0
2,520,2019-02-01,2.014090e+09,96.0,0.0,38239.0,27.0,100.0,0.0,100.0,...,17.0,33733759.0,100.0,0.0,0.0,0.0,0.0,100.0,9.795051e+11,0
3,520,2019-02-02,2.812968e+09,96.0,0.0,38263.0,27.0,100.0,0.0,100.0,...,16.0,33733774.0,100.0,0.0,0.0,0.0,0.0,100.0,9.795990e+11,0
4,520,2019-02-03,3.442008e+09,96.0,0.0,38287.0,27.0,100.0,0.0,100.0,...,15.0,33733798.0,100.0,0.0,0.0,0.0,0.0,100.0,9.796929e+11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35210,42824,2019-06-26,4.294967e+09,94.0,0.0,48860.0,46.0,100.0,0.0,100.0,...,17.0,884843672.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241470e+12,0
35211,42824,2019-06-27,4.294967e+09,94.0,0.0,48884.0,46.0,100.0,0.0,100.0,...,17.0,884886553.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241564e+12,0
35212,42824,2019-06-28,4.294967e+09,94.0,0.0,48908.0,46.0,100.0,0.0,100.0,...,18.0,884924703.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241658e+12,0
35213,42824,2019-06-29,4.294967e+09,94.0,0.0,48932.0,46.0,100.0,0.0,100.0,...,18.0,884965991.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241751e+12,0
35214,42824,2019-06-30,4.294967e+09,94.0,0.0,48955.0,46.0,100.0,0.0,100.0,...,18.0,885006704.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241845e+12,0

그리고 fail된 디스크만 있는 dataframe에서 fail이후에도 디스크가 돌아가는 것이 있어서 그 행들을 다 제거하는 과정을 거쳤다.

In [14]:
extracted_disk_failure_model_all

,disk_id,ds,r_1,n_5,r_5,r_9,r_12,n_171,r_171,n_172,...,r_194,r_195,n_196,r_196,r_197,r_198,r_199,n_175,r_175,label
0,520,2019-01-30,9.376596e+08,96.0,0.0,38191.0,27.0,100.0,0.0,100.0,...,16.0,33733630.0,100.0,0.0,0.0,0.0,0.0,100.0,9.793172e+11,0
1,520,2019-01-31,1.624577e+09,96.0,0.0,38215.0,27.0,100.0,0.0,100.0,...,17.0,33733726.0,100.0,0.0,0.0,0.0,0.0,100.0,9.794111e+11,0
2,520,2019-02-01,2.014090e+09,96.0,0.0,38239.0,27.0,100.0,0.0,100.0,...,17.0,33733759.0,100.0,0.0,0.0,0.0,0.0,100.0,9.795051e+11,0
3,520,2019-02-02,2.812968e+09,96.0,0.0,38263.0,27.0,100.0,0.0,100.0,...,16.0,33733774.0,100.0,0.0,0.0,0.0,0.0,100.0,9.795990e+11,0
4,520,2019-02-03,3.442008e+09,96.0,0.0,38287.0,27.0,100.0,0.0,100.0,...,15.0,33733798.0,100.0,0.0,0.0,0.0,0.0,100.0,9.796929e+11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35210,42824,2019-06-26,4.294967e+09,94.0,0.0,48860.0,46.0,100.0,0.0,100.0,...,17.0,884843672.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241470e+12,0
35211,42824,2019-06-27,4.294967e+09,94.0,0.0,48884.0,46.0,100.0,0.0,100.0,...,17.0,884886553.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241564e+12,0
35212,42824,2019-06-28,4.294967e+09,94.0,0.0,48908.0,46.0,100.0,0.0,100.0,...,18.0,884924703.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241658e+12,0
35213,42824,2019-06-29,4.294967e+09,94.0,0.0,48932.0,46.0,100.0,0.0,100.0,...,18.0,884965991.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241751e+12,0
35214,42824,2019-06-30,4.294967e+09,94.0,0.0,48955.0,46.0,100.0,0.0,100.0,...,18.0,885006704.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241845e+12,0

In [15]:
remove_indexes = []
for index, row in extracted_disk_failure_model_all.iterrows():
    if row['label'] == 1:
        disk_id = row['disk_id']
        ds = row['ds']
        remove_indexes.extend(extracted_disk_failure_model_all.index[(extracted_disk_failure_model_all['disk_id'] == disk_id) & (extracted_disk_failure_model_all['ds'] > ds)].tolist())

# 중복된 인덱스를 제거하여 제거할 행들을 구함
remove_indexes = list(set(remove_indexes))

# 제거할 행을 제외한 최종 DataFrame을 생성
del_fail_after_row = extracted_disk_failure_model_all.drop(index=remove_indexes)

# 결과 출력
print(del_fail_after_row)

       disk_id         ds           r_1   n_5  r_5      r_9  r_12  n_171  \
0          520 2019-01-30  9.376596e+08  96.0  0.0  38191.0  27.0  100.0
1          520 2019-01-31  1.624577e+09  96.0  0.0  38215.0  27.0  100.0
2          520 2019-02-01  2.014090e+09  96.0  0.0  38239.0  27.0  100.0
3          520 2019-02-02  2.812968e+09  96.0  0.0  38263.0  27.0  100.0
4          520 2019-02-03  3.442008e+09  96.0  0.0  38287.0  27.0  100.0
...        ...        ...           ...   ...  ...      ...   ...    ...
35043    42824 2019-01-07  4.294967e+09  94.0  0.0  44799.0  46.0  100.0
35044    42824 2019-01-08  4.294967e+09  94.0  0.0  44823.0  46.0  100.0
35045    42824 2019-01-09  4.294967e+09  94.0  0.0  44847.0  46.0  100.0
35046    42824 2019-01-10  4.294967e+09  94.0  0.0  44871.0  46.0  100.0
35047    42824 2019-01-11  4.294967e+09  94.0  0.0  44895.0  46.0  100.0

       r_171  n_172  ...  r_194        r_195  n_196  r_196  r_197  r_198  \
0        0.0  100.0  ...   16.0   33733630.0  100.0    0.0    0.0    0.0
1        0.0  100.0  ...   17.0   33733726.0  100.0    0.0    0.0    0.0
2        0.0  100.0  ...   17.0   33733759.0  100.0    0.0    0.0    0.0
3        0.0  100.0  ...   16.0   33733774.0  100.0    0.0    0.0    0.0
4        0.0  100.0  ...   15.0   33733798.0  100.0    0.0    0.0    0.0
...      ...    ...  ...    ...          ...    ...    ...    ...    ...
35043    0.0  100.0  ...   18.0  872307910.0  100.0    0.0    0.0    0.0
35044    0.0  100.0  ...   18.0  872462608.0  100.0    0.0    0.0    0.0
35045    0.0  100.0  ...   18.0  872613656.0  100.0    0.0    0.0    0.0
35046    0.0  100.0  ...   18.0  872767350.0  100.0    0.0    0.0    0.0
35047    0.0  100.0  ...   18.0  872922346.0  100.0    0.0    0.0    0.0

       r_199  n_175         r_175  label
0        0.0  100.0  9.793172e+11      0
1        0.0  100.0  9.794111e+11      0
2        0.0  100.0  9.795051e+11      0
3        0.0  100.0  9.795990e+11      0
4        0.0  100.0  9.796929e+11      0
...      ...    ...           ...    ...
35043    0.0  100.0  1.138277e+12      0
35044    0.0  100.0  1.138371e+12      0
35045    0.0  100.0  1.138465e+12      0
35046    0.0  100.0  1.138559e+12      0
35047    0.0  100.0  1.138653e+12      1

[12584 rows x 31 columns]

In [16]:
del_fail_after_row['label'].value_counts()

label
0    12309
1      275
Name: count, dtype: int64