In [1]:
import os
import pandas as pd

folder_path = '../ssd_data/smartlog2019ssd'
file_extension = '.csv'

for month in range(1, 3):
    target_month = f'2019{str(month).zfill(2)}'
    dfs = []  # dfs 리스트 초기화
    for file_name in os.listdir(folder_path):
        if file_name.endswith(file_extension):
            date = file_name
            date = date.split('.')[0]  # 파일명에서 날짜 추출
            file_month = date[:6]  # 날짜에서 월 추출
            if target_month == file_month:
                file_path = os.path.join(folder_path, file_name)
                df = pd.read_csv(file_path)
                dfs.append(df)

    combined_df = pd.concat(dfs, ignore_index=True)
    combined_df_name = f'combined_df{str(month).zfill(2)}'
    globals()[combined_df_name] = combined_df

In [2]:
combined_df01.describe()

,disk_id,ds,n_1,r_1,n_2,r_2,n_3,r_3,n_4,r_4,...,n_242,r_242,n_244,r_244,n_245,r_245,n_175,r_175,n_232,r_232
count,1.266777e+07,1.266777e+07,6.950878e+06,6.950878e+06,0.0,0.0,0.0,0.0,0.0,0.0,...,5.715271e+06,5.715271e+06,2537869.0,2.537869e+06,2537899.0,2537899.0,4.038391e+06,4.038391e+06,3.177374e+06,3177374.0
mean,6.507512e+04,2.019012e+07,1.037162e+02,5.130814e+08,NaN,NaN,NaN,NaN,NaN,NaN,...,9.955469e+01,1.403015e+11,100.0,1.372254e-02,100.0,65535.0,9.980266e+01,8.675320e+11,9.981109e+01,0.0
std,5.432741e+04,8.950260e+00,9.883092e+00,1.389128e+09,NaN,NaN,NaN,NaN,NaN,NaN,...,5.005863e-01,3.115479e+11,0.0,3.867745e+00,0.0,0.0,4.415661e+00,1.557660e+11,1.581042e+00,0.0
min,0.000000e+00,2.019010e+07,9.400000e+01,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,...,9.300000e+01,0.000000e+00,100.0,0.000000e+00,100.0,65535.0,1.000000e+00,4.348576e+09,5.800000e+01,0.0
25%,2.047700e+04,2.019011e+07,1.000000e+02,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,...,9.900000e+01,1.275186e+06,100.0,0.000000e+00,100.0,65535.0,1.000000e+02,7.517131e+11,1.000000e+02,0.0
50%,4.507400e+04,2.019012e+07,1.000000e+02,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000e+02,1.667992e+07,100.0,0.000000e+00,100.0,65535.0,1.000000e+02,8.375443e+11,1.000000e+02,0.0
75%,1.021930e+05,2.019012e+07,1.000000e+02,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000e+02,1.758776e+11,100.0,0.000000e+00,100.0,65535.0,1.000000e+02,1.001034e+12,1.000000e+02,0.0
max,2.002100e+05,2.019013e+07,1.300000e+02,4.294967e+10,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000e+02,1.892151e+13,100.0,1.107000e+03,100.0,65535.0,1.000000e+02,1.228415e+12,1.000000e+02,0.0

In [3]:
combined_df01.shape

(12667767, 105)

In [ ]:
combined_df02.to_csv('2019_02.csv',index_label=False)